


 header {
    text-align:center;
    background:#99ccff;
    opacity: 0.75;
    background-size:cover;
    color:#0489B1;
    }

    a{
      color:white;
    }
    h1{
      font-size: 90px;
      font-family: 'Indie Flower', cursive;
    }
    img{
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    
    ul {
      padding: 10px;
      background:rgba(0,0,0,0.3);
    }

    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }

.jumbotron {
	min-height: 600pc;
	background-image:url('images/pantry.jpeg');
	background-size:cover;
	background-attachment: fixed;
}

#team {
	background-color:rgba(70,130,180,0.5);
	text-align-center;
}

#mission {
  background-color: rgba(32, 35, 41, 0.8);
  color: #ddd;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color:white;
  text-align:center;
  font-weight:bolder;
}
h3 {
  text-align: center;
}
p {
  font-family: 'Indie Flower', cursive;
}


#social-buttons button {
	color: white; }

.btn-twitter {background-color: #00acee; border-color:#009ad5;
			}
.btn-facebook {background-color: #4868ac; border-color: #314776;
			}
.btn-pinterest {background-color: #b62f26; border-color: #b62f26;
			}