html
{
	height: 100%;
}

.container, .row
{
	height: 100%;
}

#fridge, #cupboard
{
	background-repeat: repeat-y;
	background-size: 100% 100px;
	background-position: center 3px;
}

#fridge
{
	background-image: url('images/fridge shelf.png');
}

#cupboard
{
	background-image: url('images/cupboard shelf.png');
}

#fade
{
	background-image: url('pantry.jpeg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

body
{
    min-height: 100%;
    margin: 0;
}

#main
{
	position: absolute;
	height: 100%;
	width: 100%;
}

#fade
{
	position: absolute;
	height: 100%;
	width: 100%;
}

#fade > h1
{
	position: relative;
	top: 35%;
	text-align: center;
	width: 100%;
	color: white;
}

.available, #worksurface
{
	height: 100%;
}

.available img, #worksurface img
{
	height: 70px;
	margin: 15px 0px;
}

.overlay
{
	position: fixed;
	bottom: 8px;
	width:100%;
}
