.table-container
{
	width:100%;
	display: block;
}

@media (min-width: 768px) {
  .table-container
  {
    width: 750px;
	display:table;
	table-layout:fixed;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
  }
}

@media (min-width: 992px) {
  .table-container
  {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .table-container
  {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .table-container > .table-row
  {
	display: table-row;
	height: 0px;
  }

  .table-container > .fill-row
  {
	display: table-row;
  }

  .list-container
  {
	display: table-cell;
  }

  .list
  {
	height:100%;
	width:100%;
  }
}

.list-container
{
	background-size: 100% 100px;
	background-position: 0px 22px;
}

.list
{
	min-height:100px;
	height:100%;
	width:100%;
	background-size:100% 22px;
	background-repeat:no-repeat;
	padding:22px 15px 0px 15px;
}

#fade
{
	background-image: url('pantry.jpeg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.full-cell
{
	display: table-cell;
}

body
{
    min-height: 100%;
    margin: 0;
    background-color: #7A979F;
}

#fade, #main
{
	position: absolute;
	height: 100%;
	width: 100%;
}

#fade > div
{
	position: relative;
	top: 35%;
	text-align: center;
	width: 100%;
	color: white;
}

h1,h2
{
	text-align: center;
	width: 100%;
	color: white;
}

.available img, #worksurface img
{
	height: 70px;
}

.available a,
#worksurface a
{
	display: inline-block;
	position: relative;
	height: 70px;
	margin: 15px 0px	;
}

.available a > .icon,
#worksurface a > .icon
{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
	border-radius: 20px;

	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.available a > .icon::before
{
	content:"\002b"
}

.available a.added > .icon::before,
#worksurface a > .icon::before
{
	content:"\2212"
}

.available a:hover > .icon,
#worksurface a:hover > .icon
{
	display: block;
}